<!DOCTYPE HTML>
<html>
<head>
    <title>Raspberry Pi | Web API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Custom Theme files -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='font-awesome.css') }}">
    <script src="static/js/jquery.min.js"></script>
    <!-- Mainly scripts -->
    <script src="static/js/jquery.metisMenu.js"></script>
    <script src="static/js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='custom.css') }}">
    <script src="static/js/custom.js"></script>
    <script src="static/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
            if (!screenfull.enabled) {
                return false;
            }
            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <!----->
</head>
<body>
<div id="wrapper">

<!----->
<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="index.html">RPi</a></h1>
    </div>
    <div class=" border-bottom">
        <div class="full-left">
            <section class="full-top">
                <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
            </section>
            <div class="clearfix"></div>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="drop-men">
            <ul class=" nav_1">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class="name-caret">System<i
                            class="caret"></i></span><img width="60" height="60"  src="static/images/Raspi-PGB001.png"></a>
                    <ul class="dropdown-menu " role="menu">
                        <li><a href="system.html"><i class="fa fa-user"></i>System Info</a></li>
                        <!--
                        <li><a href="inbox.html"><i class="fa fa-envelope"></i>Inbox</a></li>
                        <li><a href="calendar.html"><i class="fa fa-calendar"></i>Calender</a></li>
                        <li><a href="inbox.html"><i class="fa fa-clipboard"></i>Tasks</a></li>
                        -->
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div class="clearfix">
        </div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="index.html" class=" hvr-bounce-to-right"><i
                                class="fa fa-video-camera nav_icon "></i><span
                                class="nav-label">Record</span> </a>
                    </li>
                    <li>
                        <a href="preview.html" class=" hvr-bounce-to-right"><i
                                class="fa fa-video-camera nav_icon "></i><span
                                class="nav-label">Preview</span> </a>
                    </li>
                    <li>
                        <a href="settings.html" class=" hvr-bounce-to-right"><i class="fa fa-cog nav_icon"></i> <span
                                class="nav-label">Settings</span> </a>
                    </li>
                    <li>
                        <a href="faq.html" class=" hvr-bounce-to-right"><i class="fa fa-question-circle nav_icon"></i> <span
                                class="nav-label">FAQ</span> </a>
                    </li>
                    <li>
                        <a href="logout" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i><span class="nav-label">Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div id="page-wrapper" class="gray-bg dashbard-1">
<div class="content-main">

<!--banner-->
<div class="banner">
    <h2>
        <a href="index.html">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Record</span>
    </h2>
</div>
<!--//banner-->
<!--//content-->
<div class="content-top">
    <div class="col-md-4 ">
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>Start Record</h5>
            </div>
            <div class="col-md-6 top-content1">
                <div>
                    <form style="border: none; box-shadow: none;" data-script="start_record" class="post">
                        <div>
                            <button style="margin-top: 15px" id="start_record" type="button" class="btn btn-lg btn-default">Start Record</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>Stop Record</h5>
            </div>
            <div class="col-md-6 top-content1">
                <form style="border: none; box-shadow: none" data-script="stop_record" class="post">
                    <div>
                        <button style="margin-top: 15px" id="stop_record" type="button" class="btn btn-lg btn-default">Stop Record</button>
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>Record Status</h5>
            </div>
            <div class="col-md-6 top-content1">
                <form style="border: none; box-shadow: none" data-script="status" class="get">
                    <div>
                        <button style="margin-top: 15px" type="button" class="btn btn-lg btn-default">Record Status</button>
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>Make Screenshot</h5>
            </div>
            <div class="col-md-6 top-content1">
                <form style="border: none; box-shadow: none" data-script="screenshot" class="post">
                    <div>
                        <button style="margin-top: 15px" type="button" class="btn btn-lg btn-default">Screenshot</button>
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-8 content-top-1">
        <!---start-chart---->
        <!----->
            <!--graph-->
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='graph.css') }}">
            <!--//graph-->
            <div class="graph-container">
                <div class="col-md-6 top-content">
                    <h5>JSON</h5>
                </div>
            </div>
        <div class="col-md-6 top-content">
            <h5>Response</h5>
            <pre class="response-field" style="border: 1px solid #555; padding: 5px; overflow: auto; min-height: 274px; "></pre>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!---->

<!--
<div class="content-mid">


    <div class="col-md-7 mid-content-top">
        <div class="middle-content">
            <h3>Latest Recordings</h3>
            <!-- start content_slider -->
        <!--
            <div id="owl-demo" class="owl-carousel text-center">
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na1.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na2.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na1.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na2.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na.jpg" alt="name">
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!----->
    <!--
<div class="content-bottom">
<div class="col-md-6">
    <div class="weather">
        <div class="weather-top">
            <div class="weather-top-left">
                <div class="degree">
                    <figure class="icons">
                        <canvas id="partly-cloudy-day" width="64" height="64">
                        </canvas>
                    </figure>
                    <span>37°</span>

                    <div class="clearfix"></div>
                </div>
                <script>
                    var icons = new Skycons({"color": "#1ABC9C"}),
                            list = [
                                "clear-night", "partly-cloudy-day",
                                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                "fog"
                            ],
                            i;

                    for (i = list.length; i--;)
                        icons.set(list[i], list[i]);

                    icons.play();
                </script>
                <p>FRIDAY
                    <label>13</label>
                    <sup>th</sup>
                    AUG
                </p>
            </div>
            <div class="weather-top-right">
                <p><i class="fa fa-map-marker"></i>lorem ipsum</p>
                <label>lorem ipsum</label>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="weather-bottom">
            <div class="weather-bottom1">
                <div class="weather-head">
                    <h4>Cloudy</h4>
                    <figure class="icons">
                        <canvas id="cloudy" width="58" height="58"></canvas>
                    </figure>
                    <script>
                        var icons = new Skycons({"color": "#999"}),
                                list = [
                                    "clear-night", "cloudy",
                                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                    "fog"
                                ],
                                i;

                        for (i = list.length; i--;)
                            icons.set(list[i], list[i]);

                        icons.play();
                    </script>
                    <h6>20°</h6>

                    <div class="bottom-head">
                        <p>August 16</p>

                        <p>Monday</p>
                    </div>
                </div>
            </div>
            <div class="weather-bottom1 ">
                <div class="weather-head">
                    <h4>Sunny</h4>
                    <figure class="icons">
                        <canvas id="clear-day" width="58" height="58">
                        </canvas>
                    </figure>
                    <script>
                        var icons = new Skycons({"color": "#999"}),
                                list = [
                                    "clear-night", "clear-day",
                                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                    "fog"
                                ],
                                i;

                        for (i = list.length; i--;)
                            icons.set(list[i], list[i]);

                        icons.play();
                    </script>
                    <h6>37°</h6>

                    <div class="bottom-head">
                        <p>August 17</p>

                        <p>Tuesday</p>
                    </div>
                </div>
            </div>
            <div class="weather-bottom1">
                <div class="weather-head">
                    <h4>Rainy</h4>
                    <figure class="icons">
                        <canvas id="sleet" width="58" height="58">
                        </canvas>
                    </figure>
                    <script>
                        var icons = new Skycons({"color": "#999"}),
                                list = [
                                    "clear-night", "clear-day",
                                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                    "fog"
                                ],
                                i;

                        for (i = list.length; i--;)
                            icons.set(list[i], list[i]);

                        icons.play();
                    </script>

                    <h6>7°</h6>

                    <div class="bottom-head">
                        <p>August 18</p>

                        <p>Wednesday</p>
                    </div>
                </div>
            </div>
            <div class="weather-bottom1 ">
                <div class="weather-head">
                    <h4>Snowy</h4>
                    <figure class="icons">
                        <canvas id="snow" width="58" height="58">
                        </canvas>
                    </figure>
                    <script>
                        var icons = new Skycons({"color": "#999"}),
                                list = [
                                    "clear-night", "clear-day",
                                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                    "fog"
                                ],
                                i;

                        for (i = list.length; i--;)
                            icons.set(list[i], list[i]);

                        icons.play();
                    </script>
                    <h6>-10°</h6>

                    <div class="bottom-head">
                        <p>August 16</p>

                        <p>Thursday</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
</div>
<!--//content-->
<!---->
<div class="copy">
            <p> &copy; 2016 Raspberry Pi Web API. All Rights Reserved | Ilja Grebel</p>
	    </div>
		</div>
		<div class="clearfix"> </div>
       </div>
     </div><!---->
<!--scrolling js-->
<script src="static/js/jquery.nicescroll.js"></script>
<script src="static/js/scripts.js"></script>
<!--//scrolling js-->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/index_scripts.js"></script>
</body>
</html>