<!DOCTYPE HTML>
<html>
<head>
    <title>Raspberry Pi | Web API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Custom Theme files -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='font-awesome.css') }}">
    <script src="static/js/jquery.min.js"></script>
    <!-- Mainly scripts -->
    <script src="static/js/jquery.metisMenu.js"></script>
    <script src="static/js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='custom.css') }}">
    <script src="static/js/custom.js"></script>
    <script src="static/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
            if (!screenfull.enabled) {
                return false;
            }
            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <!----->
</head>
<body>
<div id="wrapper">

<!----->
<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="index.html">RPi</a></h1>
    </div>
    <div class=" border-bottom">
        <div class="full-left">
            <section class="full-top">
                <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
            </section>
            <div class="clearfix"></div>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="drop-men">
            <ul class=" nav_1">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class="name-caret">System<i
                            class="caret"></i></span><img width="60" height="60"  src="static/images/Raspi-PGB001.png"></a>
                    <ul class="dropdown-menu " role="menu">
                        <li><a href="system.html"><i class="fa fa-user"></i>System Info</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div class="clearfix">
        </div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html" class=" hvr-bounce-to-right"><i
                                    class="fa fa-video-camera nav_icon "></i><span
                                    class="nav-label">Record</span> </a>
                        </li>
                        <li>
                            <a href="preview.html" class=" hvr-bounce-to-right"><i
                                    class="fa fa-video-camera nav_icon "></i><span
                                    class="nav-label">Preview</span> </a>
                        </li>
                        <li>
                            <a href="settings.html" class=" hvr-bounce-to-right"><i
                                    class="fa fa-cog nav_icon"></i> <span
                                    class="nav-label">Settings</span> </a>
                        </li>
                        <li>
                        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-bars nav_icon"></i> <span class="nav-label">V100</span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="spi_tty.html" class="hvr-bounce-to-right"><i class="fa fa-terminal nav_icon"></i> <span
                                    class="nav-label">OSD/TTY</span> </a>
                            </li>
                            <li><a href="v100.html" class="hvr-bounce-to-right"><i class="fa fa-desktop nav_icon"></i> <span
                                    class="nav-label">V100 - Information</span> </a>
                            </li>
                            <li><a href="hdmi_channel.html" class="hvr-bounce-to-right"><i class="fa fa-desktop nav_icon"></i> <span
                                    class="nav-label">HDMI - Settings</span> </a>
                            </li>
                             <li><a href="dragndrop.html" class="hvr-bounce-to-right"><i class="fa fa-dribbble nav_icon"></i> <span
                                    class="nav-label">DragNDrop</span> </a>
                            </li>
                        </ul>
                        </li>
                       <!-- <li>
                            <a href="faq.html" class=" hvr-bounce-to-right"><i
                                    class="fa fa-question-circle nav_icon"></i> <span
                                    class="nav-label">FAQ</span> </a>
                        </li>-->
                        <li>
                            <a href="logout" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i><span
                                    class="nav-label">Logout</span></a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</nav>
<div id="page-wrapper" class="gray-bg dashbard-1">
<div class="content-main">

<!--banner-->
<div class="banner">
    <h2>
        <a href="index.html">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>V100</span>
    </h2>
</div>
<!--//banner-->
<!--//content-->
<div class="content-top">
    <div class="col-md-spi col-md-4">
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>V100</h5>
            </div><br>
            <div class="col-md-6 top-content1">
                <div>
                    <div> 
                        <form style="border: none; box-shadow: none;" data-script="rmem_memory" class="post"> 
                            <div> 
                                <button style="margin-left: 10px; margin-top: 10px; float: left" id="rmem_memory" name="rmem_memory" type="button" class="btn btn-lg btn-default">Memory Location</button> 
                            </div> 
                        </form> 
                        <form style="border: none; box-shadow: none;" data-script="v_memory" class="post"> 
                            <div> 
                                <button style="margin-left: 10px; margin-top: 10px; float: left" id="v_memory" name="v_memory" type="button" class="btn btn-lg btn-default">Version</button> 
                            </div> 
                        </form> 
                        <!--<form style="border: none; box-shadow: none;" data-script="h_memory" class="post"> 
                            <div> 
                                <button style="margin-left: 10px; margin-top: 10px; float: left" id="h_memory" name="h_memory" type="button" class="btn btn-lg btn-default">Manual</button> 
                            </div> 
                        </form>--> 
                        <form style="border: none; box-shadow: none;" data-script="t_memory" class="post"> 
                            <div> 
                                <button style="margin-left: 10px; margin-top: 10px; float: left" id="t_memory" name="t_memory" type="button" class="btn btn-lg btn-default">Timing</button> 
                            </div> 
                        </form> 
                        <form style="border: none; box-shadow: none;" data-script="td_memory" class="post"> 
                            <div> 
                                <button style="margin-left: 10px; margin-top: 10px; float: left" id="td_memory" name="td_memory" type="button" class="btn btn-lg btn-default">Timing(more detailed)</button> 
                            </div> 
                        </form> 
                        <form style="border: none; box-shadow: none;" data-script="r_0x36_memory" class="post"> 
                            <div> 
                                <button style="margin-left: 10px; margin-top: 10px; float: left" id="r_0x36_memory" name="r_0x36_memory" type="button" class="btn btn-lg btn-default">EDID CH1</button> 
                            </div> 
                        </form> 
                        <form style="border: none; box-shadow: none;" data-script="r_0x37_memory" class="post"> 
                            <div> 
                                <button style="margin-left: 10px; margin-top: 10px; float: left" id="r_0x37_memory" name="r_0x37_memory" type="button" class="btn btn-lg btn-default">EDID CH2</button> 
                            </div> 
                        </form> 
                        <form style="border: none; box-shadow: none;" data-script="l_memory" class="post"> 
                            <div> 
                                <button style="margin-left: 10px; margin-top: 10px" id="l_memory" name="l_memory" type="button" class="btn btn-lg btn-default">L2C Devices</button> 
                            </div> 
                        </form> 
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5 style="margin-bottom: 15px;">Values of the image processor</h5>
            </div>
            <form data-script="b_memory" style="border: none; border-shadow: none;" class="post form-horizontal">
                <div class="form-group">
                    <label for="_chn1_out_manual_param2" class="col-sm-2 control-label">Register</label>
                    <div class="col-sm-8">
                        <input class="form-control1" id="_user_input" name="_user_input">
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn-primary btn">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-spi-2 content-top-1 col-md-8">
            <!--JSON-->
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='graph.css') }}">
            <!--//graph-->
            <div class="graph-container">
                <div class="col-md-6 top-content">
                    <h5>JSON</h5>
                </div>
            </div>
        <div class="col-md-6 top-content">
            <h5 style="margin-bottom: 10px;">Response</h5>
            <pre class="response-field" style="border: 1px solid #555; padding: 5px; overflow: auto; min-height: 274px; "></pre>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="copy">
            <p> &copy; 2016 Raspberry Pi Web API. All Rights Reserved | Ilja Grebel</p>
	    </div>
		</div>
		<div class="clearfix"> </div>
       </div>
     </div><!---->
<!--scrolling js-->
<script src="static/js/jquery.nicescroll.js"></script>
<script src="static/js/scripts.js"></script>
<!--//scrolling js-->
<script src="static/js/bootstrap.min.js"></script>
<!-- <script src="static/js/v100.js"></script> -->
<script src="static/js/spi_script.js"></script>
</body>
</html>
